
.marron { border: 5px outset silver; border-color: brown; height:200px; }
.verde { border: 5px outset silver; border-color: green;height:200px;}
.rosa { border: 5px outset silver; border-color: pink;height:200px;}