.clase{
color: #5DC1B9;
}
.clase2{
color:#a31142;
background-color:#b7a689;
}
.clase3{
color:rgb(17,12,13);
background-color:#d36e4a;
}



.clase4{
color:rgb(35%,67%, 89%);
background-color:#a2d8a9;
}



.clase5{
color:purple;
background-color:#a2d8a9;
}



.clase6{
color:rgb(234,255,64);
background-color:#d36e4a;
}



.clase7{
color:#12e519;
background-color:yellow;
}



.clase8{
color:green;
background-color:#bfaf8f;
}