.linea{height: 10px; background-color:#AB9D2B}
.linea2{background-color:blue ; height:40px; position: absolute; bottom: 50px; top: 50px;width: 100%;}
body{background-color:#FFD700}
.linearosa{background-color:#FF69B4; height: 20px}
.linearosa2{background-color:#FF00FF; height: 30px}
.lineaazul{background-color:#1E90FF; height: 30px}
.lineaverde{background-color:#228B22; height: 20px}
.salmon{background-color:#E9967A; height:20px}
