a:link{color: red;} 
.azul{color: blue;} 
.fondo{color:blue; background-color:yellow;}
.fondo2{color:yellow; background-color: black; font-style: italic}
.negrita {font-weight: bold;}
.cursiva {font-style:italic;}